.approach__title {
	background: $red;
	color: $white;
	padding: 2.5rem;
	display: flex;
	align-items: center;

	h2 {
		line-height: 1.4;
	}
}

.approach__topics {
	background: $red;
	color: $white;
	padding: 2.5rem;

	.topic {
		span {
			font-size: 8rem;
			font-weight: bold;
			opacity: 0.25;
		}

		h4 {
			display: inline;
			margin-left: -7.5rem;
			position: relative;
			bottom: 1.5rem;
		}

		p {
			margin-left: 2rem;
			max-width: 26rem;
		}
	}
}
