.carousel__title {
	grid-column: 1/7;
	grid-row: 6/7;

	background: $black-bg;
	color: $white;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	.prevnext {
		margin-top: 6.5rem;
		display: flex;
		gap: 2rem;
		img {
			width: 4rem;
		}
	}

	.wave {
		width: 13.4rem;
		position: absolute;
		top: 19rem;
		right: -6.55rem;
	}

	.wrapper {
		width: 44.5rem;
	}
}

.carousel__img {
	grid-row: 6/8;
	grid-column: 6/-1;
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		url(https://vieirahenrique.github.io/creative/img/desktop/image-slide-1.jpg);

	color: $white;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	.legend {
		padding: 5rem;
	}
}
