.header {
	grid-column: 1/-1;
	height: 18rem;

	display: grid;
	grid-template-columns: 1fr 1.2fr;
	align-items: center;

	&__logo {
		padding-left: 10rem;
		img {
			width: 16.1rem;
		}
	}

	@media screen and (max-width: 1024px) {
		grid-template-columns: 1fr 1.6fr;
		&__logo {
			padding-left: 0;
			margin-left: 4rem;
		}
	}

	&__menu {
		background: $red;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		.hamburger {
			display: none;
		}

		ul {
			display: flex;
			align-items: center;
			gap: 4rem;

			a {
				color: $white;

				&:hover {
					font-weight: 800;
				}
			}
		}

		@media screen and (max-width: 1024px) {
			ul {
				margin-left: 2rem;
				gap: 2rem;
			}
		}
	}

	@media screen and (max-width: 767px) {
		grid-row: 1/2;
		grid-column: 1/-1;
		display: flex;

		&__menu {
			display: none;
		}
	}
}
